/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: 
 */



/*
	Structural
*/

body {

}

#container {
	width: 950px;
	margin: 20px auto;
	padding: 10px;
	height: 800px;
}

#fas {
	width: 950px;
	height: 528px;
	position: relative;
	
	
}

#fas #search {
	position: absolute;
	width: 100%;
	height: 80px;
	float: left;
}

	#search h1 {
		position: absolute;
		top: 22px;
		left: 160px;
	}

	#input {
		border: 3px solid #9a9a9a;
		height: 38px;
		width: 465px;
		padding: 3px 8px;
		position: absolute;
		top: 16px;
		left: 350px;
	}


#display {
	float: left;
	width: 100%;
	height: 100%;
	padding-top: 80px;
}

	nav {
		float: left;
		height: 438px;
		width: 145px;
		margin-right: 20px;
	}
	
	    nav ul {
	        background-color: #e8e8e8;
	        padding-top: 10px;
	        height: 438px;
	        width: 133px;
	        border-right: 1px solid #bcbcbc;
	        
	        font-family: Georgia, serif;
	        font-size: 14px;
	        color: #3d3d3d;
	    }
	    
	        nav ul li {
	            width: 145px;
	            
	        }
	    
	            nav ul li span {
    	            display: block;
    	            width: 123px;
    	            padding: 8px 0px 8px 10px;
    	            border-bottom: 1px solid #bcbcbc;
    	        }
    	        
        	        nav ul li span:hover {
        	            background: #d8d8d8;
        	            color: #3d3d3d;
        	            cursor: pointer;
        	        }
	        
	            nav ul li.active, nav ul li.active span:hover {
	                background: url("../images/full-pointer.png") no-repeat left top;
	                color: #FFFFFF;
	            }
	        
#results {
    position: relative;
    display: none;
}	        

    /* structure */
    
    #last-name, #specialties, #services {
        float: left;
		height: 423px;
		width: 248px;
		padding-top: 25px;
		margin-right: 20px;
    }
    
   #services {
       float: right;
       width: 228px;
       margin-right: 0px;
       padding-left: 14px;
       padding-right: 5px;
       border-left: 1px solid #dae3ea;
       background-color: #f7f9fa;
       
   }
   
   #card {
       display: none;
       
       
       position: absolute;
       top: 0px;
       right: 0px;
       height: 427px;
       width: 761px;
       padding: 17px 10px 5px 19px;
       background-color: #f7f9fa;
       border-left: 1px solid #dae3ea;
   }
   
        #photo {
            position: relative;
            float: left;
            margin-right: 20px;
        }
        
            #photo #pops {
                position: absolute;
                top: 193px;
                left: 3px;
            }
            
                #photo a#pops  {
                    display: block;
                    width: 139px;
                    height: 17px;
                    padding-top: 4px;
                    
                    color: #4b535a;
                    font-size: 14px;
                    text-decoration: none;
                    text-align: center;
                    line-height: 14px;
                    
                    background-color: #FAFAFA;
                    background-color: rgba(250, 250, 250, 0.9);  
                              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E5FAFAFA',EndColorStr='#E5FAFAFA'); 
                }
                
                #photo a#pops:hover  {
                    color: #1e374f;
                    background-color: #ffffff;
                }
                
        #bio {
            float: left;
            width: 584px;
        }
        
            #bio #name {
                font-size: 20px;
                margin-bottom: 15px;
            }
            
            #card-close {
                float: right;
                height: 19px;
            }
            
                #card-close p {
                    float: left;
                    padding-right: 8px;
                    
                    font-family: Verdana, serif;
                    font-size: 12px;
                    text-transform: uppercase;
                    line-height: 19px;
                    color: #055381;
                }
            
            #bio #appointments {
                
            }
            
                #appointments p {
                    color: #055381;
                    font-family: Verdana, sans-serif;
                    font-size: 10px;
                    line-height: 15px;
                    margin-bottom: 12px;
                }
                
                #appointments p em {
                    color: #6b8aa7;
                }
        
            #bio #contact {
                float: right;
                background-color: #FFFFFF;
                border: 1px solid #c8d7de;
                padding: 10px;
            }
            
                #contact table tr.main {
                    font-weight: bold;
                }
            
            
            
            
            
            
   
   /* styling */
   
   #results header {
       font-family: Georgia, serif;
       font-size: 16px;
       color: #055381;
       border-bottom: 1px solid #d6d5d5;
       padding-bottom: 4px;
       margin-bottom: 8px;
   }
   
   #services header {
       margin-left: 5px;
   }
   
   #services ul li {
   }
   
   #services ul li a {
       display: block;
       padding: 7px;
       font-size: 10px;
       color: #6b8aa7;
       text-decoration: none;
   }
       
       #services ul li a:hover {
           background-color: #d7e0e9;
           color: #1e374f;
       }









#app {
	border: 1px solid #888888;
	height: 468px;
	overflow: hidden;
	float: left;
}

.section {
	xbackground: #eeeeee;
	width: 245px;
	height: 100%;
	padding: 10px;
	float: left;
}

	
/*
	Theme
*/


#fas {	
	-moz-box-shadow: 0px 0px 10px #888; 
  	-webkit-box-shadow: 0px 0px 10px #888; 
    box-shadow: 0px 0px 10px #888; 

}

#fas #search {
	background-color: #e1e8ee;
	background-image: -moz-linear-gradient(top, #ffffff, #B6C8D5); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #B6C8D5)); 
	background-image: -webkit-linear-gradient(#ffffff, #B6C8D5); 
	background-image: linear-gradient(top, #ffffff, #B6C8D5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#B6C8D5');
	
	-moz-box-shadow: 0px 3px 4px #888; 
	-webkit-box-shadow: 0px 3px 4px #888; 
	box-shadow: 0px 3px 4px #888;
}

	#search h1 {
		font-family: 'Georgia','Times New Roman',serif;
		color: #003656;
	    font-size: 26px;
		font-weight: normal;
	}

#display {
	
}

.yellow {
	background-color: yellow;
	color: #000000;
}


/*
	Typography
*/

h1 { font-size: 30px; }

h2 { 
	border-bottom: 1px dashed #888888; 
	margin-bottom: 6px;
}

input {
	font-size: 28px;
	color: #888888;
}

ul { 
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
}
	
.section a, .section a:visited {
	text-decoration: none;
	display: block;
	padding: 6px 2px;
}

	.section a:hover {
		text-decoration: none;
		background: #dcecfb;
	}

/************************
FILTER STYLES
************************/

.filterable .no_match {
	color: red;
}

.match {
	font-weight: bold;
	color: red;
	background: yellow;
}

.unmatch {
	color: #b7b7b7;
}
	
.unmatch .match {
	font-weight: normal;
	color: #b7b7b7;
	background: none;
}
	
/***********************
END FILTER STYLES
***********************/
	
	
	
	
	
	
	











/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

